// site variables

// colours

$bodyBackground: #F0E9DF;
$brownDark: #8f5e45;
$brownLight: #C1957F;
$pinkLight: #E7D3CA;

// font specific colours

$softBlack: #272727;
$darkBlack: black;
$offWhite: #f8eded; // to be used on brown backgrounds